@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #fff;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

.light {
    --color-box-header-title: #7b7e84;
    --color-switch-icon-actived: #282828;
    --color-switch-text-actived: #595959;
    --color-switch-icon: #636a71;
    --color-switch-text: #636a71;
    --color-menu-icon: #29292c;
    --color-menu-text: #c4c4c4;
    --border-box-header: #f3f3f3;
    --border-switch-actived: #fff;
    --bg-box: #fff;
    --bg-switch: #f4f6f8;
    --bg-switch-actived: #fff;
}
.dark {
    --color-box-header-title: #91969d;
    --color-switch-icon-actived: #b7bbc1;
    --color-switch-text-actived: #fff;
    --color-switch-icon: #91969d;
    --color-switch-text: #91969d;
    --color-menu-icon: #949ba0;
    --color-menu-text: #d9d9d9;
    --border-box-header: #3a3b42;
    --border-switch-actived: #545961;
    --bg-box: #2f3137;
    --bg-switch: #222126;
    --bg-switch-actived: #464a52;
}
.black {
    --color-box-header-title: #91969d;
    --color-switch-icon-actived: #e2e3ea;
    --color-switch-text-actived: #e3e5e9;
    --color-switch-icon: #91969d;
    --color-switch-text: #91969d;
    --color-header-text: 000;
    --color-menu-icon: #7b8187;
    --color-menu-text: #d9d9d9;
    --border-box-header: #3a3b42;
    --border-switch-actived: #474950;
    --bg-box: #0e0e11;
    --bg-switch: #000;
    --bg-switch-actived: #373944;
}

.left-bar  {
    background-color: var(--bg-box);
    transition: background-color .32s ease-in;
    width: 100px;
    height: 100vh;
    font-family: 'Noto Sans Thai', sans-serif;
    position: relative;
    z-index: 26;
}

.left-bar-text {
    writing-mode: vertical-rl;
    font-family: 'Noto Sans Thai';
    font-weight: 571;
    font-size: 48px;
    line-height: 73px;
    color: var(--color-menu-text);
    position: relative;
    left: 18%;
    transform: rotate(180deg);
    cursor:default;
    transition: opacity .32s ease-in-out, color .32s ease-in;

}
.left-bar-text:hover {
    cursor:default;
}

.left-bar-text-animate {
    animation: jumpAnimation ease-in-out 1s forwards;
    opacity: .5;
}

.left-bar-text-container {
    position: absolute;
    bottom: 3.5vh;
}

.wheel {
    position: relative;
    fill: var(--color-menu-text);
    left: 27.5%;
    top: 3.5vh;
    transition: all .5s ease-in-out, fill .32s ease-in;;

}

.wheel:hover {
    cursor: pointer;
    opacity: 0.5;
}

.left-bar-settings {
    position: absolute;
    top: 15px;
    left: -300px;
    opacity: 0;
    width: 225px;    
    z-index: 5;
    border-radius: 12px;
    transition: left .8s cubic-bezier(.22,1,.81,.99), opacity .8s cubic-bezier(.22,1,.81,.99);
}
.left-bar-settings:hover {
    cursor: default;
}

.open {
    opacity: 1;
    left: 115px;
    display: block !important;
}

.box {
	 width: 225px;
	 border-radius: 12px;
	 position: relative;
     left: 0px;
	 background-color: var(--bg-box);
	 box-shadow: 0 0 24px rgba(0, 0, 0, .14);
     font-size: .8rem;
     transition: all .32s ease-in;
}
 .box-header {
	 padding: 24px 24px 24px 24px;
	 user-select: none;
	 border-bottom: 2px solid var(--border-box-header);
     transition: all .32s ease-in;
}
 .box-header-title {
	 margin-bottom: 12px;
	 color: var(--color-box-header-title);
     transition: all .32s ease-in;
	 font-family: 'Inter', sans-serif;
}
 .box-switch {
	 display: flex;
	 justify-content: center;
	 list-style: none;
	 padding: 4px;
	 position: relative;
	 border-radius: 12px;
	 background-color: var(--bg-switch);
     transition: all .32s ease-in;
}
 .box-switch-item {
	 flex: 1;
	 z-index: 2;
	 cursor: pointer;
}
 .box-switch-item.active .box-switch-content {
	 color: var(--color-switch-text-actived);
     transition: all .32s ease-in;
}
 .box-switch-item.active .box-switch-content svg {
	 stroke: var(--color-switch-icon-actived);
     transition: all .32s ease-in;
}
 .box-switch-content {
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border-radius: 12px;
	 padding: 8px 0;
	 color: var(--color-switch-text);
	 font-weight: 500;
	 font-family: 'Inter', sans-serif;
     transition: all .32s ease-in;
}
 .box-switch-content svg {
	 width: 20px;
	 height: 20px;
	 stroke-width: 2.8px;
	 margin-right: 8px;
	 stroke: var(--color-switch-icon);
     transition: all .32s ease-in;
}
 .box-switch-active {
	 width: 110.667px;
	 height: 36px;
	 top: 4px;
	 left: 4px;
	 position: absolute;
	 background: var(--bg-switch-actived);
     transition: all .32s ease-in;
	 border-radius: 8px;
	 transition: all 300ms ease;
	 border-top: 2px solid var(--border-switch-actived);
}
 .box-main {
	 min-height: 0;
	 padding: 0 0 0 24px;
	 position: relative;
}
 .box-menu {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 list-style: none;
	 padding: 4px;
	 position: relative;
     height: 5px;
}
 .box-menu-item {
	 width: 100%;
}
 .box-menu-item:last-child {
	 margin-top: 24px;
}
.do-the-thing {
    transform: rotate(60deg);
}
 .box-menu-link {
	 display: flex;
	 align-items: center;
	 text-decoration: none;
	 padding: 12px 0;
	 color: var(--color-menu-text);
	 font-weight: 500;
	 font-family: 'Inter', sans-serif;
}
 .box-menu-link .icon {
	 width: 32px;
	 display: flex;
	 align-content: center;
	 justify-content: center;
	 margin-right: 16px;
}
 .box-menu-link .icon svg {
	 stroke: var(--color-menu-icon);
	 stroke-width: 2.5px;
}

.title2 {
    margin: 24px 0 12px 0;
}
#range {
    margin: 0 0 24px 0;
}


.range-slider__range {
    width: calc(100% - (73px));
    height: 8px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #616161;
    cursor: pointer;
    transition: background 0.32s ease-in-out;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: var(--color-switch-text-actived);
}
.range-slider__range::-moz-range-thumb {
    width: 5px;
    height: 5px;
    border: 0;
    border-radius: 50%;
    background: var(--color-switch-text);
    cursor: pointer;
    transition: background 0.32s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: var(--color-switch-text-actived);
}
.range-slider__range:active::-moz-range-thumb {
    background: var(--color-switch-text-actived);
}

.center {
    position: absolute;
    height: calc(100vh - 100px); 
    width: calc(100vw - 200px);
    left: 150px;
    top: 50px;
    background-color: var(--bg-box);
    transition: background-color .32s ease-in;
    z-index: 2;
    border-radius: 25px;
}

.item1 {
    margin: 15px;
}


.center-text {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 571;
    font-size: 45px;
    line-height: 73px;
    float: left;
    display: inline-flex;
    margin: 20px 0 0 0;
    color: var(--color-switch-icon-actived);
    transition: color 0.32s ease-in-out;
}

.time-container {
    position: absolute;
    height: 80%;
    width: 330px;
    left: 60px;
    top: 15%;
    border: 3px solid #D9D9D9;
    border-radius: 25px
}

.regular-container {
    position: absolute;
    height: 80%;
    width: 487px;
    left: 480px;
    top: 15%;
    border: 3px solid #D9D9D9;
    border-radius: 25px
}

.unregular-container {
    position: absolute;
    height: 80%;
    width: 487px;
    left: 1057px;
    top: 15%;
    border: 3px solid #D9D9D9;
    border-radius: 25px
}

.a1 {
    position: relative;
    left: 150px;
}
.a2 {
    position: relative;
    left: 450px;
}
.a3 {
    position: relative;
    left: 710px;
}

form {
    margin: 25px;
}

[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: 0;
		opacity: 0.01;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 2.3em;
		font-size: 1.05em;
		line-height: 1.7;
		cursor: pointer;
	}

	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 1.4em;
		height: 1.4em;
		border: 1px solid #aaa;
		background: #FFF;
		border-radius: .2em;
		box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 var(--color-menu);
		-webkit-transition: all .275s;
				transition: all .275s;
	}

	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '✕';
		position: absolute;
		top: .525em;
		left: .18em;
		font-size: 1.375em;
		color: var(--bg-color-menu-text);
		line-height: 0;
		-webkit-transition: all .2s;
				transition: all .2s;
	}

	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		-webkit-transform: scale(0) rotate(45deg);
				transform: scale(0) rotate(45deg);
	}

	[type="checkbox"]:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0);
				transform: scale(1) rotate(0);
	}


	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
		box-shadow: none;
		border-color: #bbb;
		background-color: #e9e9e9;
	}

	[type="checkbox"]:disabled:checked + label:after {
		color: #777;
	}

	[type="checkbox"]:disabled + label {
		color: #aaa;
	}

	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
		box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px var(--bg-switch);
	}

.w1 {
position: absolute;
width: 174.8px;
height: 38px;
left: 640px;
top: 75px;

font-family: 'Noto Sans Thai';
font-style: normal;
font-weight: 571;
font-size: 25px;
line-height: 38px;
opacity: .8;


color: var(--color-switch-icon-actived);
font-stretch: 100;
}
.w2 {
    position: absolute;
    width: 174.8px;
    height: 38px;
    left: 1225px;
    top: 75px;
    
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 571;
    font-size: 25px;
    line-height: 38px;
    opacity: .8;
    
    
    color: var(--color-switch-icon-actived);
    font-stretch: 100;
    }









.background {
    position: absolute;
    left: 100px;
    top: 0;
    width: calc(100vw - 100px);
    height: 100vh;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;
    opacity: 1;      
    user-select: none;
    transition: opacity .32s ease-in;

}



@keyframes spinAway {
    from {
        transform: rotate(0deg)
    } to {
        transform: rotate(360deg);
    }

}

@keyframes jumpAnimation {
    0% {
        left: 18%;
    } 10% {
        left: 30%;
    } 30% {
        left: 0%;
    } 50% {
        left: 25%;
    } 70% {
        left: 10%;
    } 90% {
        left: 18%;
    }
}